---
Checks: "*,-cppcoreguidelines-owning-memory,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-llvmlibc-*,-llvm-header-guard,-*-non-private-member-variables-in-classes,-*-pro-bounds-array-to-pointer-decay,-*-no-array-decay,-fuchsia-default-*,-fuchsia-multiple-inheritance,-fuchsia-trailing-return,-fuchsia-overloaded-operator,-google-readability-todo,-readability-identifier-length,-readability-convert-functions-to-static,-altera-unroll-loops,-altera-id-dependent-backward-branch,-clang-diagnostic-c++17-extensions,-clang-diagnostic-string-plus-int"
# ,-*-special-member-functions
# ExtraArgs: -std=c++17
